<p>{{errormessage}}</p>
<form class="form" [formGroup]="AddForm" (ngSubmit)="onSubmit(AddForm.value)">
    <div class="container">
      <h1> Employee Registration</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>

      <label for="Fname"><b>First Name</b></label>
      <input type="text" placeholder="First Name" formControlName="FirstName" name="Fname" required>
      <div *ngIf="submitted && AddForm.controls.FirstName.errors" class="error">
        <div class="text-danger" *ngIf="AddForm.controls.FirstName.errors.required">
           First Name is required ..
        </div>
      </div>

      <label for="Lname"><b>Last Name</b></label>
      <input type="text" placeholder="Last Name" formControlName="LastName" name="Lname" required>
      <div *ngIf="submitted && AddForm.controls.LastName.errors" class="error">
        <div class="text-danger" *ngIf="AddForm.controls.LastName.errors.required">
           Last Name is required ..
        </div>
      </div>

      <label for="Phone"><b>Phone</b></label>
      <input type="text" placeholder="Phone" formControlName="Phone" name="Phone" required>
      <div *ngIf="submitted && AddForm.controls.Phone.errors" class="error">
        <div class="text-danger" *ngIf="AddForm.controls.Phone.errors.required">
           Phone number is required ..
        </div>

      </div>

      <label for="Email"><b>Email ID</b></label>
      <input type="text" placeholder="Enter Email" formControlName="Email" name="Email" required>
      <div *ngIf="submitted && AddForm.controls.Email.errors" class="error">
        <div class="text-danger" *ngIf="AddForm.controls.Email.errors.required">
           Email Id is required ..
        </div>
      </div>

      <label for="Address"><b>Address</b></label>
      <input type="text" placeholder="Address" formControlName="Address" name="Address" required>
     <div *ngIf="submitted && AddForm.controls.Address.errors" class="error">
        <div class="text-danger" *ngIf="AddForm.controls.Address.errors.required">
          Address is required ..
        </div>
      </div>

      <label for="Experience"><b>Experience</b></label>
      <input type="text" placeholder="Experience" formControlName="Experience" name="Experience" required>
      <div *ngIf="submitted && AddForm.controls.Experience.errors" class="error">
        <div class="text-danger" *ngIf="AddForm.controls.Experience.errors.required">
          Experience is required ..
        </div>
      </div>

      <label for="Password"><b>Password</b></label>
      <input type="Password" placeholder="Password" formControlName="Password" name="Password" required>
      <div *ngIf="submitted && AddForm.controls.Password.errors" class="error">
        <div class="text-danger" *ngIf="AddForm.controls.Password.errors.required">
          Password is required ..
        </div>
      </div>

      <label for="ConfPassword"><b>Confirm Password</b></label>
      <input type="Password" placeholder="Confirm Password" name="ConfPassword" required>
      <hr>
      <button type="submit" class="registerbtn">Register</button>
    </div>
    
    
  </form>
  